<p>Please login to access your account</p>

<form method="post" action="/session">
  <p>
    Email: <input type="email" name="email" required />
  </p>

  <p>
    Password: <input type="password" name="password" required />
  </p>
  <button type="submit">Login</button>
</form>
<p></p>
<p><em>Foundry is currently invite-only. Contact Mike Ebert for an invite.</em></p>
