<p><h3>An apprentice should show proficiency in the following areas:</h3></p>

<div id="checklist">
  <p>
    <h4>Crafting code</h4>
    <li>Can create simple applications without any assistance.</li>
    </p>
  <p>
    <h4>TDD</h4>
    <li>Unit Testing</li>
    <li>Acceptance Testing</li>
  </p>
  <p>
    <h4>Refactoring</h4>
    <li>Identifying smelly code</li>
    <li>Improving the design</li>
    <li>Staying green</li>
  </p>
  <p>
    <h4>Design Principles</h4>
    <li>SOLID</li>
    <li>Package Principles</li>
  </p>
  <p>
    <h4>Object Oriented Design Patterns</h4>
    <li>Can identify patterns</li>
    <li>Can apply patterns</li>
    <li>Aware of costs and benefits of patterns</li>
  </p>
  <p>
    <h4>Pair Programmer</h4>
    <li>Articulate a design or algorithm</li>
    <li>Effective as a driver and passenger</li>
  </p>
  <p>
    <h4>Agile Software Process</h4>
    <li>Works in iterations</li>
    <li>Story cards</li>
    <li>Demos new features</li>
    <li>Stand-ups</li>
    <li>Retrospectives</li>
  </p>
  <p>  
    <h4>Estimating</h4>
    <li>Commit to a task and timeframe</li>
    <li>Identify tasks too large for a timeframe</li>
  </p>  
  <p>
    <h4>Customer Collaboration</h4>
    <li>Creating stories based on a customer discussion</li>
    <li>Creating Acceptance Tests with the customer</li>
    <li>Providing transparency to customer</li>
  </p>
  <p>
    <h4>Polyglot</h4>
    <li>Familiarity with a variety of language constructs</li>
    <li>Can read code in unfamiliar languages</li>
    <li>Can write code in multiple languages</li>
  </p>
  <p>
    <h4>Communication Skills</h4>
    <li>Engaging live presentations</li>
    <li>Clear writing</li>
    <li>Teaching</li>
  </p>
  <p>
    <h4>Community Involvement</h4>
    <li>Blogs</li>
    <li>User groups</li>
    <li>Email lists</li>
  </p>
  <p>
    <h4>Collective Ownership</h4>
    <li>Follow conventions</li>
    <li>Leave the code cleaner than you found it.</li>
  </p>
</div>
