<p>Thanks! You have created the following apprenticeship:</p>

<p>Start Date: <%= @apprenticeship.start_date.strftime("%B %d, %Y") %></p>
<p>End Date: <%= @apprenticeship.end_date.strftime("%B %d, %Y") %></p>
<p>Apprentice: <%= @apprenticeship.apprentice.name %></p>
<p>Mentor: <%= @apprenticeship.mentor.name %></p>
