<p>Please choose the start and end date for the apprenticeship:</p>

<form method="post" action="/apprenticeships">

  <p>
    <label for="start_date">Start Date:</label>
    <input type="text" name="start_date" id="start_date" placeholder="mm/dd/yyyy">

    <label for="end_date">End Date:</label>
    <input type="text" name="end_date" id="end_date" placeholder="mm/dd/yyyy">
  </p>

  <p>
    <label for="apprentice_id">Apprentice: </label>
    <select name="apprentice_id">
      <% @users.each do |user| %>
      <%= "<option value='#{user.id}'>#{user.name}</option>" %>
      <% end %>
    </select>
  </p>

  <label for="mentor_id">Mentor: </label>
  <select name="mentor_id">
    <% @users.each do |user| %>
    <%= "<option value='#{user.id}'>#{user.name}</option>" %>
    <% end %>
  </select>
</p>

<p>
  <button type="submit">Submit</button>
</p>
</form>

